<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>自嗨</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>自嗨</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxa9084c92fa04ba5c</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb610763809082955</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>FacebookAppID</key>
	<string>610763809082955</string>
	<key>FacebookDisplayName</key>
	<string>MyApp</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>cydia</string>
		<string>wechat</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>weixin</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>qq.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>允许访问蓝牙</string>
	<key>NSCameraUsageDescription</key>
	<string>允许访问相机</string>
	<key>NSContactsUsageDescription</key>
	<string>允许访问联系人</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>YES</string>
	<key>NSLocationUsageDescription</key>
	<string>允许访问位置</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>自嗨</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>允许访问麦克风</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>允许访问相册</string>
	<key>UIAppFonts</key>
	<array>
		<string>FZYBXSJW.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.tencent.rdm.uuid</key>
	<string>c923a2da-536d-4f66-b931-4072a3c5a454</string>
	<key>edgesForExtendedLayout</key>
	<string>UIRectEdgeNone</string>
	<key>extendedLayoutIncludesOpaqueBars</key>
	<false/>
</dict>
</plist>
